apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-backend-data-to-mongodb
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: mongodb
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: backend-data
      ports:
        - protocol: TCP
          port: 27017
  policyTypes:
    - Ingress