apiVersion: v1
kind: Service
metadata:
  name: backend-data
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: 5001
      targetPort: 5001
  selector:
    app: backend-data
