apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-backend-api-to-backend-data
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: backend-data
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: backend-api
      ports:
        - protocol: TCP
          port: 5001
  policyTypes:
    - Ingress
